@import "../../styles/variables.css";

.container {
  width: 90%;
  min-width: var(--min-width);
  margin: 15px auto 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.title {
  margin: 15px 0;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: var(--font-big);
  text-transform: uppercase;
  transition: var(--transition);
  user-select: none;
}

.password {
  width: 90%;
  min-height: 27px;
  margin: 15px;
  padding: 15px;
  border: 1px solid rgb(43, 43, 58);
  border-radius: 15px;
  font-family: "Comfortaa", cursive;
  font-size: var(--font-normal-2);
  text-align: center;
  overflow-wrap: break-word;
  color: #000;
  transition: var(--transition);
}

.message {
  font-family: "Comfortaa", cursive;
  text-align: center;
  min-height: 18px;
  color: red;
  margin: auto;
  padding: 3px;
  font-size: var(--font-medium-);
  user-select: none;
}

/* === Buttons === */

.button_create,
.button_copy {
  font-family: "Comfortaa", cursive;
  font-size: var(--font-normal-1);
  text-transform: uppercase;
  width: 160px;
  height: 60px;
  margin: 15px 0;
  padding: 15px;
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: var(--transition);
  user-select: none;
}

.button_copy:disabled,
.button_create:disabled {
  border: 1px solid var(--greyDark);
  background: none;
  box-shadow: none;
  color: var(--greyDark);
  cursor: auto;
}

.button_create {
  background: var(--primary);
  color: var(--greyLight-1);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.button_copy {
  color: var(--greyDark);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.button_copy:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

.button_create:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
    inset -0.2rem -0.2rem 1rem var(--primary-light);
}

/* === === */

/* === Slider === */

.slider {
  width: 80%;
  max-width: 300px;
}

.input_label {
  font-family: "Comfortaa", cursive;
  width: 100%;
  height: 2rem;
  margin: 10px auto;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-normal-1);
}

.input_label_span {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  user-select: none;
}

input[type="range"] {
  width: 100%;
  height: 20px;
  margin: 10px 0;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
input[type="range"]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: var(--primary);
  box-shadow: 0px 0.1rem 0.3rem 0px var(--greyLight-3);
}

/* Webkit */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

input[type="range"]::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -7px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--primary);
  box-shadow: 0px 0.1rem 0.3rem 0px var(--greyLight-3);
  -webkit-appearance: none;
}

/* === Options === */

.options_list {
  list-style: none;
  margin: 0;
  padding: 1rem;

  transition: var(--transition);
}

.options_list_item {
  font-family: "Comfortaa", cursive;
  text-align: center;
  width: 190px;
  margin: auto;
  padding: 0.3rem;
  display: flex;
  transition: var(--transition);
}

/* CHECKBOX */

.checkbox {
  display: none;
}

.checkbox_label {
  width: 100%;
  height: 28px;
  padding: 1rem;
  margin: auto;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  user-select: none;
}

.checkbox_label:hover {
  color: var(--primary);
}

.checkbox:checked ~ .checkbox_label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
}

/* === input unique === */

.input_unique {
  width: 190px;
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input_unique input {
  display: none;
}
.switch__1 {
  width: 6rem;
}
.input_unique_label {
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
.input_unique_label::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--greyDark);
  transition: all 0.4s ease;
}
.input_unique_label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    330deg,
    var(--primary-dark) 0%,
    var(--primary) 50%,
    var(--primary-light) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}
.input_unique input:checked ~ .input_unique_label::before {
  opacity: 1;
}
.input_unique input:checked ~ .input_unique_label::after {
  left: 61%;
  background: var(--greyLight-1);
}

.input_unique_span {
  font-family: "Comfortaa", cursive;
  text-align: center;
  user-select: none;
}

/* === END input unique === */

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .title {
    font-size: var(--font-normal-2);
  }
  .password {
    min-height: 20px;
    font-size: var(--font-normal-1);
  }
  .message {
    min-height: 14px;
    margin: auto;
    padding: 3px;
    font-size: var(--font-min-1);
  }
  .button_create,
  .button_copy {
    font-size: var(--font-min-1);
    width: 140px;
    height: 50px;
  }

  .options_list_item {
    font-size: var(--font-min-1);
    width: 160px;
  }
  .checkbox_label {
    height: 28px;
    padding: 11px;
  }
}
