.generaror {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgb(26, 1 247);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0, 3);
}

.generaror__title {
  font-size: 2rem;
}

.generaror__password {
  width: 100%;
  padding: 15px;
  color: #000;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  border: 2px solid rgb(43, 43, 58);
  border-radius: 4px;
}

.generaror__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.generaror__input-label {
  margin: auto;
}

.generaror__options-list {
  list-style: none;
}

.inp:focus {
  outline: none;
}

button {
  width: 140px;
  height: 40px;
  margin-left: 8px;
  border: 2px solid rgb(43, 43, 58);
  border-radius: 4px;
  transition: 0.2s;
}

button:hover {
  background: #000;
  color: #fff;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
